* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 100px;
  background-color: #d7d7d9;
  color: #333;
  text-align: justify;
}

@media (max-width: 700px) {
  body {
    margin-top: 10px;
  }
}

main {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #d7d7d9;
}

/* Estilos para o cabeçalho */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #658c3e;
  color: #3d592f;
  z-index: 1000;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
  gap: 10px;
}
.logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-title img {
  width: 50px;
  height: 50px;
}
.logo-title h1 {
  font-size: 30px;
}

/* Estilos para o menu */
nav {
  background-color: #6fa638;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px 30px;
}
nav ul li a {
  color: #3d592f;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #658c3e;
}

/* Estilos para o conteúdo principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #d7d7d9;
}
.topo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #d7d7d9;
}
.topo img {
  width: 200px;
  height: 200px;
}
.topo h1 {
  font-size: 30px;
}
.programas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 30px;
  margin-top: 20px;
  background-color: #d7d7d9;
  text-align: center;
}

.programa-card {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.card-esquerda {
  width: 50vw;
  height: 30vh;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.card-esquerda img {
  width: 200px;
  height: 200px;
}
.card-diretita {
  width: 50vw;
  height: 70vh;
  margin-top: 20px;
  justify-items: left;
  align-items: center;
}

.programa-card p {
  font-size: 15px;
  text-align: left;
  line-height: 1.7;
  padding: 10px;
}

.programa-card h3 {
  font-size: 20px;
  text-align: left;
  padding: 0 10px;
}

.titulo-parques {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #d7d7d9;
}
.carrossel {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;
  padding: 20px;
}

.slide {
  flex: 0 0 300px;
  background-color: #f9f9f9;
  border-radius: 10px;
  scroll-snap-align: start;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slide h2 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
}

.slide p {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.botao {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #2980b9;
}

.footer {
  background-color: #065f46;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

.eventos {
  padding: 10px 30px;
  flex-wrap: wrap;
  background-color: #d7d7d9;
  margin: 5px;
}

.eventos li {
  font-size: 15px;
  text-align: left;
  line-height: 1.7;
  padding: 10px;
}
.midia img {
  width: 60px;
  height: 60px;
}

.agencia img {
  width: 80px;
  height: 80px;
}

.qr {
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
}

.codqr {
  display: flex;
  justify-content: center;
}
.agencias {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 10px;
}
